<section class="section experience" id="experience">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="contaniner__inner animate">
                    <div class="section__info">
                        <div class="section__head">
                          <h2 class="section__title">Where I've <span class="text-span">Worked</span></h2>
                        </div>
                    </div>
                    <h4 class="job__title">MicroStrategy</h4>
                    <h4 class="job__title">Alarm.com</h4>
                </div>
            </div>
        </div>
    </div>
</section>