<style>
    /* Existing styles for job title */
    .job__title {
        font-size: 1.25rem; /* Adjust as needed */
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    /* New styles for the job link */
    .job__link {
        color: inherit; /* Ensures the link color matches the text */
        text-decoration: none;
        display: inline;
        align-items: center;
        transition: color 0.3s ease;
    }

    /* Styles for the arrow SVG */
    .job__link svg {
        width: 1em;
        height: 1em;
        margin-left: 0.25em;
        transform: translateY(0.5ex);
        transition: transform 0.3s ease;
    }

    /* Hover effect for the arrow */
    .job__link:hover svg {
        transform: translateX(2px) translateY(-2px);
    }

    ul.bullet {
        /* padding-left: 5em; */
        /* margin-bottom: 0px; */
        font-size: 19px;
    }
    h4.date{
        font-size: 19px;
        font-weight: normal;
    }
    h4.job__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 768px) {
      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
      .date {
        margin-bottom: 0px;
        padding-top:10px;
        padding-bottom: 10px;
      }
    }

    @media only screen and (min-width: 769px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
      .date {
        margin-bottom: 10px;
      }
    }
</style>
<section class="section experience" id="experience">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="contaniner__inner animate">
                    <div class="section__info">
                        <div class="section__head">
                          <h2 class="section__title">Where I've <span class="text-span">Worked</span></h2>
                        </div>
                    </div>
                    <table class="hide-mobile">
                        <tr>
                            <td style="width:20%"><h4 class="date">JUL 2022 - PRESENT</h4></td>
                            <td><h4 class="job__title"><a href="https://www.alarm.com" class="job__link" target="_blank">Quality Engineer · Alarm.com{% include arrow.html %}</a>
                            </h4></td> 
                        </tr>
                        <tr>
                            <td></td>
                            <td><ul class="bullet">
                                <li>Developed and implemented scripts in a Java testing application that integrated with company API and Android 
                                    Debug Bridge (ADB) to automate push notification latency testing for all current and future video doorbell systems.</li>
                                <li>Directed Sunflower Labs security drone integration, leading live and simulated environment testing, coordinating 
                                    results with stakeholders, and ensuring agile issue tracking and resolution.</li>
                                <li>Led cross-functional software and hardware testing initiatives for over 1 million Skybell and VDB770 video doorbell 
                                    devices, improving performance through rigorous thermal battery, device integrity testing, and issue resolution for 
                                    dealer concerns.</li>
                                <li>Optimized package alerts and perimeter guard functionalities on VDB770, ensuring enhanced user experience 
                                    through detailed system integration and automated testing.</li>
                                <li>Spearheaded end-to-end testing for the new Relay Panel Notifications feature, collaborating with software 
                                    developers and hardware teams to ensure complete test coverage, including both backend and frontend 
                                    evaluations.</li>
                                <li>Conducted testing, validated data flows between systems, and formulated documentation to ensure seamless 
                                    updates for customer agreement terms for the video feedback feature</li>  
                            </ul></td>
                        </tr>
                        <tr>
                            <td><h4 class="date">MAY - AUG 2021</h4></td>
                            <td><h4 class="job__title"><a href="https://www.microstrategy.com" class="job__link" target="_blank"> Software Engineer Intern · MicroStrategy{% include arrow.html %} </a></h4></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><ul class="bullet">
                                <li>Developed a robust developer portal using HTML, CSS, JavaScript, and static site generators such as Eleventy, Jekyll, and DocFX, improving code documentation and user engagement.</li>
                                <li>Collaborated in an Agile team environment utilizing Scrum methodologies to manage sprints and deliver features within tight timelines.</li>
                                <li>Participated in bi-weekly hackathons focused on data analysis and utilizing internal tools.</li>
                                <li>Presented the final developer portal to managers, directors, VPs, and other key stakeholders, effectively communicating the project’s impact and technical details.</li>
                                <li>Gained hands-on experience working alongside a cross-functional software engineering team, contributing to design discussions, code reviews, and daily stand-ups.</li>
                            </ul></td>
                        </tr>
                    </table>
                    <div class="show-mobile">
                        <h4 class="date">JUL 2022 - PRESENT</h4>
                        <h4 class="job__title"><a href="https://www.alarm.com" class="job__link" target="_blank">Quality Engineer · Alarm.com{% include arrow.html %}</a></h4>
                        <ul class="bullet">
                            <li>Developed and implemented scripts in a Java testing application that integrated with company API and Android 
                                Debug Bridge (ADB) to automate push notification latency testing for all current and future video doorbell systems.</li>
                            <li>Directed Sunflower Labs security drone integration, leading live and simulated environment testing, coordinating 
                                results with stakeholders, and ensuring agile issue tracking and resolution.</li>
                            <li>Led cross-functional software and hardware testing initiatives for over 1 million Skybell and VDB770 video doorbell 
                                devices, improving performance through rigorous thermal battery, device integrity testing, and issue resolution for 
                                dealer concerns.</li>
                            <li>Optimized package alerts and perimeter guard functionalities on VDB770, ensuring enhanced user experience 
                                through detailed system integration and automated testing.</li>
                            <li>Spearheaded end-to-end testing for the new Relay Panel Notifications feature, collaborating with software 
                                developers and hardware teams to ensure complete test coverage, including both backend and frontend 
                                evaluations.</li>
                            <li>Conducted testing, validated data flows between systems, and formulated documentation to ensure seamless 
                                updates for customer agreement terms for the video feedback feature</li> 
                        </ul>
                        <h4 class="date">MAY - AUG 2021</h4>
                        <h4 class="job__title"><a href="https://www.microstrategy.com" class="job__link" target="_blank"> Software Engineer Intern · MicroStrategy{% include arrow.html %}</a></h4>
                        <ul class="bullet">
                            <li>Developed a robust developer portal using HTML, CSS, JavaScript, and static site generators such as Eleventy, Jekyll, and DocFX, improving code documentation and user engagement.</li>
                            <li>Collaborated in an Agile team environment utilizing Scrum methodologies to manage sprints and deliver features within tight timelines.</li>
                            <li>Participated in bi-weekly hackathons focused on data analysis and utilizing internal tools.</li>
                            <li>Presented the final developer portal to managers, directors, VPs, and other key stakeholders, effectively communicating the project’s impact and technical details.</li>
                            <li>Gained hands-on experience working alongside a cross-functional software engineering team, contributing to design discussions, code reviews, and daily stand-ups.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>